@using PowerShare.Models
@model LoginModel
@{
    ViewData["Title"] = "Home";
}

<div class="body">
    <div class="row">
        <div class="col-6">
            <div class="jumbotron info float-right">
                <p><h1 class="display-4">Connect with PowerShare.</h1></p>
                <p><span class="slogan">Charging the world!</span></p>
            </div>
        </div>

        <div class="custom-control-inline">
            <form  class="form" asp-action="AddUser" asp-controller="Account" method="post">
                <h1>Sign Up</h1>
                <div class="form-group">
                    <input type="text" placeholder=" " name="firstName" id="FirstName" required>
                    <label >First Name</label>

                </div>

                <div class="form-group">
                    <input type="text" placeholder=" " name="lastName" id="LastName" required>
                    <label >Last Name</label>

                </div>
                <div class="form-group">
                    <input type="email" placeholder=" " name="emailAddress" id="EmailAddress" required>
                    <label >Email</label>

                </div>
                <div class="form-group">
                    <input type="text" placeholder=" " name="userName"id="UserName" required>
                    <label >User Name</label>

                </div>
                <div class="form-group">
                    <input type="tel" placeholder=" " name="phoneNumber"id="PhoneNumber" required>
                    <label >PhoneNumber</label>

                </div>
                <div class="form-group">
                    <input type="password" placeholder=" " id="Password" name="password" required>
                    <label>Password</label>
                    
                </div>

                <div class="form-group">
                    <input type="password" placeholder=" " name="password" id="ConfirmPassword" required>
                    <label for="confirm">Confirm</label>

                </div>
                <input type="submit" value="Sign Up">

            </form>
        </div>


    </div>

</div>
