@using PowerShare.Models
@model LoginModel
@{
    ViewData["Title"] = "Home";
}

<div class="body">
    <div class="row">
        <div class="col-6">
            <div class="jumbotron info float-right">
                <p><h1 class="display-4">Connect with PowerShare.</h1></p>
                <p><span class="slogan">Charging the world!</span></p>
            </div>
        </div>
        <div class="col-6">
            <div class="loginForm">
                <form asp-action="AddUser" asp-controller="Account" method="post">
                    <ul>
                        <li>
                            <header><h1 class="display-3">Sign Up!</h1></header>
                        </li>
                        <li>
                            <label>First Name</label><br />
                            <input type="text" class="form-control-lg" id="FirstName " name="FirstName" placeholder="" />
                        </li>
                        <li>
                            <label>Last Name</label><br />
                            <input type="text" class="form-control-lg" id="LastName" name="LastName" placeholder="" />
                        </li>
                        <li>
                            <label>UserName</label><br />
                            <input type="text" class="form-control-lg" id="UserName" name="UserName" placeholder="" />
                        </li>

                        <li>
                            <label>Email</label><br />
                            <input type="email" class="form-control-lg" id="EmailAddress" name="EmailAddress" placeholder="" />
                        </li>
                        <li>
                            <label>Phone Number</label><br />
                            <input type="number" class="form-control-lg" id="PhoneNumber" name="PhoneNumber" placeholder="" />
                        </li>
                        <li>
                            <label>Password</label><br />
                            <input type="password" class="form-control-lg" id="Password" name="Password" placeholder="" />
                        </li>
                        <li>
                            <label>Verify Password</label><br />
                            <input type="password" class="form-control-lg" id="ConfirmPassword" name="ConfirmPassword" placeholder="" />
                        </li>
                        <li>
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>

</div>
