@{
    ViewData["Title"] = "Home";
}

<div class="body">
    <div class="row">
        <div class="col-6">
            <div class="slogan float-left jumbotron">
                <p><h1 class="display-4">Connect with PowerShare.</h1></p>
                <p>Charging the world!</p>
            </div>
        </div>
        <div class="col-6">
            <div class="loginForm float-right">
                <form action="" method="post">
                    <header><h1 class="display-4">Sign Up!</h1></header>
                    <ul>
                        <li>
                            <input type="text" class="form-control" name="fName" placeholder="First Name" />
                        </li>
                        <li>
                            <input type="text" class="form-control" name="mName" placeholder="Middle Name" />
                        </li>
                        <li>
                            <input type="text" class="form-control" name="lName" placeholder="Last Name" />
                        </li>
                        <li>
                            <input type="email" class="form-control" name="email" placeholder="Email" />
                        </li>
                        <li>
                            <input type="number" class="form-control" name="phoneNumber" placeholder="Phone Number" />
                        </li>
                        <li>
                            <input type="password" class="form-control" name="password" placeholder="Password" />
                        </li>
                        <li>
                            <input type="password" class="form-control" name="password" placeholder="Verify Password" />
                        </li>
                        <li>
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    
</div>
