
@{
    ViewData["Title"] = "Map";
}
<input type="text" id="keyword" class="form-control-lg" placeholder="Search for place" />
<button class="btn btn-primary" id="search">Search</button>
<div id="Toogle">
    <label class="switch">
        <input id="togBtn" type="checkbox" checked>
        <span class="slider round"></span>
    </label>
</div>

<div class="row">
    <div id="map" style="height:100%; width:100%; position: absolute;"></div>
</div>





