
@{
    ViewData["Title"] = "Team";
}
<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
    <div class="container">
        <h1 class="font-weight-light text-white">Meet the Team</h1>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-3 col-md-4 mb-3">
            <div class="card border-0 shadow">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Kishor Simkhada</h5>
                    <div class="card-text text-black-50">Web Developer | Informatics</div>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-3 col-md-4 mb-3">
            <div class="card border-0 shadow">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Alankar Pokhrel</h5>
                    <div class="card-text text-black-50">Database Designer | Computer Science</div>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-3 col-md-4 mb-3">
            <div class="card border-0 shadow">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Bishal Neupane</h5>
                    <div class="card-text text-black-50">Scrum Master | Mechanical Engineering</div>
                </div>
            </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-xl-3 col-md-4 mb-3">
            <div class="card border-0 shadow">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Sushil Pathak</h5>
                    <div class="card-text text-black-50">Database Developer | Informatics</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team Member 5 -->
    <div class="col-xl-3 col-md-4 mb-3">
        <div class="card border-0 shadow">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title mb-0">Sabin Shrestha</h5>
                <div class="card-text text-black-50">Full Stack Developer | Computer Science</div>
            </div>
        </div>
    </div>
<!-- /.container -->