
@{
    ViewData["Title"] = "AddItem";
}
<h1>Add Item</h1>
<form action="">
    <ul>
        <li>
            Type of the Item:
            <input type="text" name="deviceType" />
        </li>
        <li>
            Name of the device:
            <input type="text" name="deviceName" />
        </li>
        <li>
            Charger Type:
            <input type="text" name="chargerType"/>
        </li>
        <input type="submit" value="Submit">
    </ul>
</form> 