/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.slogan{
    color: #4B371C;
}
.Footerlast{
    background-color:white;
}
.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.container{
    color:orange;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    color: #3F301D;
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: inherit;
}

.loginForm{
    margin-left: 15%;
}

.loginForm ul {
    list-style-type: none;
}

ul li{
    margin-bottom:20px;
}

.logo{
    height:150px;
    width:200px;
}

.footer {
    position: fixed;
    background-color: white;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

#keyword {
    width : 50%;
}

#search{
    height:6%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }
.container  text-black-50{
    color:orange
}
/*.loginForm{
    background-color:gray;

}*/
/*.FullName {
    display: table;
    display: flex; /* 2. display flex to the rescue */












.form {
    margin: auto;
    padding: 5px;
    max-width: 420px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-image: linear-gradient(to bottom, #00183b, #002452, #00306b, #003d85, #004a9f);
    border-radius: 10px;
    box-shadow: 0 0 20px 2px rgba(27,50,94);
    letter-spacing: 0.5px;
}

    .form h1 {
        text-align: center;
        margin: 20px 0 35px 0;
        color: white;
        text-shadow: 1px 3px rgba(255, 255, 255, 0.1);
    }

.form-group {
    margin: 2px 2px;
    max-width:100%;
    min-height: 50px;
    margin: 10px 0 0 0;
    padding: 0 35px;
    border-radius: 10px;
    position: relative;
}

    .form-group input {
        width: 100%;
        box-sizing: border-box;
        height: 38px;
        padding: 0 12px;
        font-size: 17px;
        letter-spacing: 0.25px;
        border-radius: 20px;
        border: 1.5px solid rgb(31,187,176);
        background-color: rgba(248,255,174, 0.2);
        autocomplete: off;
        color: rgba(248, 255, 174, 0.9);
    }

        .form-group input:active,
        .form-group input:focus {
            background-color: rgba(31,187,176, 0.2);
            outline: none;
            autocomplete: off;
            box-shadow: 0 0 2px 0 rgb(248, 255, 174);
            border: 1.5px solid rgb(248, 255, 174);
            color: rgb(248, 255, 174);
        }

        .form-group input::selection {
            background-color: rgba(31,187,176);
        }

    .form-group label {
        pointer-events: none;
        position: absolute;
        margin: 0;
        padding: 0 2px;
        top: 9px;
        left: 47px;
        font-size: 16px;
        color: rgba(230, 230, 230, 0.7);
        transition: all 0.12s ease;
    }

    .form-group input:focus + label,
    .form-group input:not(:placeholder-shown) + label {
        transform: translateY(-27px);
        font-size: 14px;
        font-weight: bold;
        color: rgb(248, 255, 174);
    }



.form input[type="submit"] {
    display: block;
    margin: 20px auto 10px;
    width: 110px;
    height: 45px;
    border-radius: 25px;
    font-size: 17px;
    border: none;
    text-transform: capitalize;
    background-color: rgba(31,187,176, 0.8);
    color: white;
    cursor: auto;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

    .form input[type="submit"]:hover,
    .form input[type="submit"]:focus {
        background-color: #2991CF;
        box-shadow: 0 0 2px 0px #2991CF;
    }

.form-bottom {
    text-align: center;
    margin: 15px 0;
    font-size: 12px;
    letter-spacing: 0.75px;
}

    .form-bottom a {
        text-decoration: none;
        color: #1FBBB0;
    }

        .form-bottom a:hover,
        .form-bottom a:focus {
            color: #2991CF;
            outline: none;
        }
.container{
    float:right;
   
}

