@model PowerShare.Models.Device

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-4 align-items-center">
        <form asp-action="Create" class="justify-content-center" id="device">
            <h1>Create</h1>
            <h4>Device</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeviceType" class="control-label"></label>
                <input asp-for="DeviceType" class="form-control" />
                <span asp-validation-for="DeviceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceName" class="control-label"></label>
                <input asp-for="DeviceName" class="form-control" />
                <span asp-validation-for="DeviceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChargerType" class="control-label"></label>
                <input asp-for="ChargerType" class="form-control" />
                <span asp-validation-for="ChargerType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index">Back to List</a>
            </div>
            
        </form>
    </div>
</div>
<div>
</div>

